.hero {
  background-color: #8A0032;
  font-family: 'Poppins', sans-serif;
  color: white;
 min-height: 100vh;
  overflow-x: hidden; 
  overflow-y: visible; 
  overflow: hidden;
  position: relative;
}

.hero-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
 min-height:  100vh;
  position: relative;
}

.hero-content {
  position: relative;
  width: 100%;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  text-align: center;
}

.navbar {
  position: relative;
  z-index: 3;
  display: flex;
  justify-content: center;
  gap: 500px;
  align-items: center;
  padding-top: 10px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 40px;
  width: 40px;
}

.nav-links {
  display: flex;
  gap: 50px;
  list-style: none;
  align-items: center;
}

.nav-links li {
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.nav-links button {
  background: white;
  color: #8A0032;
  padding: 8px 16px;
  border-radius: 20px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.organic {
  font-family: 'Oswald', sans-serif;
  font-size: 89px;
  letter-spacing: 6px;
  color: transparent;
  -webkit-text-stroke: 1px white;
  margin-bottom: 10px;
  font-weight: 600;
}

.headline {
  font-family: 'Bebas Neue', cursive;
  font-size: 84px;
  font-weight: 700;
  letter-spacing: 7px;
  color: white;
}

.sequence-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  pointer-events: none;
}

.sequence-video {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  pointer-events: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}

.scroll-fake-space {
  height: 1500px;
  width: 100%;
  flex-shrink: 0;
  background: #8A0032; 
}
.leaf{
  position: absolute;
  z-index: 1;
  width: 500px;
  right: -20px;
}
.leaf1{
  position: absolute;
  z-index: 1;
  width: 500px;
  bottom: -20px;
  left: -150px;
}

.juice-section {
  max-width: 1200px;
  margin: auto;
  color: #111;
  font-family: 'Poppins', sans-serif;
}

.juice-tag {
  background-color:#6B091D ;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  margin-bottom: 20px;
}

.juice-title {
    font-family: 'Poppins', sans-serif;

  font-size: 56px;
  font-weight: 700;
  width: 650px;
  margin: 10px 0;
}

.juice-desc {
  font-size: 20px;
  max-width: 500px;
}

.juice-rating {
  display: flex;
  align-items: center;
  gap: 40px;
  margin: 20px 0;
}

.juice-avatars img {
  width: 50px;
  height: 50px;
  border-radius: 9999px;
  object-fit: cover;
  margin-left: -10px;
  border: 2px solid #fff;
}

.juice-avatars .more {
  background-color:#6B091D ;
  color: white;
  padding: 6px 10px;
  border-radius: 9999px;
  margin-left: -10px;
  font-size: 14px;
}

.juice-grid {
  display: flex;
  gap: 20px;
  margin-top: 40px;
  flex-wrap: wrap;
}

.juice-card {
  flex: 1;
  min-width: 250px;
  height: 250px;
  position: relative;
}
.juice-card1 {
  flex: 1;
  min-width: 800px;
  height: 250px;
  position: relative;
}
.juice-card1 img{
   width: 100%;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}
.juice-card img {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  object-fit: cover;
}

.explore-btn {
  position: absolute;
  bottom: -30px;
  left: 12px;
  padding: 6px 12px;
  background-color:#6B091D ;
  color: white;
  border: none;
  border-radius: 6px;
}

.juice-info {
  flex: 1;
  min-width: 250px;
  background-color:#6B091D ;
  color: white;
    height: 300px;

  padding: 20px;
  border-radius: 12px;
}

.juice-info h3{
  font-family: 'Poppins', sans-serif;

  font-size: 20px;
  font-weight: 600;
}